---
name: Unit tests

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  ruff:
    uses: ./.github/subflows/workflows/lint.yml
  basic_tests:
    uses: ./.github/subflows/workflows/text-no-matrix.yml
  test:
    needs: ["ruff"]
    uses: ./.github/subflows/workflows/test-compare-server.yml
    name: test ${{matrix.redis-image}}
    strategy:
      max-parallel: 2
      fail-fast: false
      matrix:
        redis-image:
          - "redis:6.2.17"
          - "redis:7.4.2"
          - "redis:8.2.1"
          - "valkey/valkey:8.1.3"
          - "valkey/valkey:9.0.0"
    secrets: inherit
    with:
      redis-image: ${{ matrix.redis-image }}
