name: "Tests without matrix"

on:
    workflow_call:

jobs:
  import_test:
    name: "Basic import test"
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - uses: actions/setup-python@v6
        with:
          cache-dependency-path: uv.lock
          python-version: "3.13"
      - name: Test import
        run: |
          uv build
          pip install dist/fakeredis-*.tar.gz
          python -c "import fakeredis"
